numpy
scipy
Cython
pandas
scikit-learn
seaborn
statsmodels
matplotlib
rdkit
tabulate
requests
lxml
graphviz
openpyxl
xlrd
pandas_profiling
kneed
bokeh
mpltern
git+https://github.com/jmmaloney3/gapstat
pre-commit
black
jupyter_black
