numpy
scipy
Cython
pandas
scikit-learn
statsmodels
matplotlib
adjustText
pyreadr
tabulate
requests
lxml
graphviz
psynlig
openpyxl
xlrd
seaborn
pandas_profiling
kneed
bokeh
rdkit
mpltern
git+https://github.com/jmmaloney3/gapstat
pre-commit
black
jupyter_black
